body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #f4f4f4;
      }
      .box {
        border: 1px solid #ccc;
        padding: 20px;
        background: white;
        text-align: center;
      }
      input,
      button {
        margin: 5px;
        padding: 10px;
      }
      .btn{
        padding: 10px 20px;
        background-color: rgb(164, 164, 165);
        color: rgb(0, 0, 0);
        border: none;
      }