{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">

  </head>
  <body>
    <div class="box">
      <h2>Simple Calculator</h2>

      <form action="result" method="POST">
        {% csrf_token %}
        <input
          type="number"
          name="num1"
          placeholder="Enter first number"
        /><br />
        <input
          type="number"
          name="num2"
          placeholder="Enter second number"
        /><br />

        <button type="submit" name="operation" value="add">+</button>
        <button type="submit" name="operation" value="sub">-</button>
        <button type="submit" name="operation" value="mul">*</button>
        <button type="submit" name="operation" value="div">/</button>
        <div>
          <button class="btn" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>

